.linora-product-filter {
  margin-bottom: 24px;
}

.linora-product-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linora-product-filter li {
  margin-bottom: 6px;
}

.linora-clear-filters {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
  text-decoration: underline;
}
